@font-face {
    font-family: 'GothaProBol';
    src: url('/fonts/GothaProBol.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothaProLig';
    src: url('/fonts/GothaProLig.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothaProReg';
    src: url('/fonts/GothaProReg.otf');
    font-weight: normal;
    font-style: normal;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none !important;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: 'GothaProReg';
    overflow-x: hidden;
    color: #ffffff;
}

p {
    color: black;
}

.main {
    background-image: url(/img/Title.jpg);
    background-position: 100%;
    background-size: cover;
    height: 757px;
}

.logo {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 150px;
}

h1 {
    font-size: 45px;
    font-family: 'GothaProBol';
    text-transform: uppercase;
}

h2 {
    font-family: 'GothaProLig';
    font-size: 40px;
    text-transform: uppercase;
}

.p_name {
    font-family: 'Open Sans Regular';
    margin: 100px 0px 100px 0px;
    font-size: 16px;
}

.button {
    color: #ffffff;
    font-family: 'GothaProBol';
    text-transform: uppercase;
    background-color: #ac4599;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    letter-spacing: 0.3px;
    outline-style: none;
    padding: 10px 35px 10px 35px;
    border-radius: 40px;
    box-shadow: 0px 0px 67px 12px rgba(172, 69, 153, 0.63);
}

.traiding {
    padding-top: 80px;
    padding-bottom: 125px;
    background: white;
    color: black;
    text-align: center;
    margin-bottom: 120px;
    background-image: url(/img/background2.png);
    background-position: 100%;
    background-size: cover;
    height: 757px;
}

.p_traiding {
    text-transform: uppercase;
    color: #c2a1cc;
    font-family: 'Open Sans SemiBold';
    font-size: 24px;
    letter-spacing: 3px;
    text-align: left;
}

.p_about {
    margin: 100px 0px 100px 0px;
    font-size: 16px;
    font-family: 'Open Sans Regular';
    color: #2f2f2f;
    text-align: left;
}

h3 {
    font-size: 35px;
    font-family: 'GothaProReg';
    text-align: left;
}

.open {
    margin-right: 310px;
}

.benefits {
    padding-top: 80px;
    padding-bottom: 125px;
    text-align: center;
    margin-bottom: 120px;
    background-image: url(/img/background2.png);
    background-position: 100%;
    background-size: cover;
    height: 757px;
}

h4 {
    font-size: 50px;
    font-family: 'GothaProReg';
    color: #10181f;
}

.card_img {
    margin-bottom: 40px;
}

.real_traiding {
    margin-bottom: 100px;
    margin-top: 100px;
}

.form_img {
    background-image: url(/img/form.png);
    /* background-position: 100%; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 900px;
    width: 1024px;
    margin-top: 350px;
}

.start {
    margin-top: 400px;
}

.main_form {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 250px;
    padding-top: 35px;
}

.element_form {
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #c2a1cc;
    font-size: 13px;
}

.sign {
    margin-bottom: 10px;
    padding-top: 0px;
}

.button_form {
    margin-top: 70px;
}

.afiliate {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.login_button {
    border: none;
    font-size: 13px;
}